 
body {
	background-color: black;
	
}

* {margin: 0; padding: 0;}
 
div {
  margin: 20px;
}
 
ul {
  list-style-type: none;
  width: 500px;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  color: grey;
}
 
li img {
  float: left;
  margin: 0 15px 0 0;
  height: 100px;
  width: 200px;
}
 
li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
  color: grey;
}
 
li {
  padding: 10px;
  overflow: auto;
}
 
li:hover {
  background: lightgrey;
  cursor: pointer;
}


a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      bold;
  background-color: #lightgrey;
  
  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  font-weight:      bold;
  background: black;
  
  } 
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  font-weight:      bold;
  background: lightgrey;
  
  } 
a:active  {
  /* Applies to activated links */
  text-decoration:  none;
  font-weight:      bold;
  background-color: #ddd;

  } 



#search {
  background-image: url('/image/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 20%;
  border-radius: 10px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}



